<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%-include("Commons/Title/title.ejs")%>
        <%-include("Commons/CDN/style.ejs")%>
            <link rel="stylesheet" href="/CSS/about.css">
</head>

<body>
    <%-include("Commons/Header/User_header.ejs")%>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-7 col-lg-7">
                    <div class="historic_photo_container">
                        <img src="/Img/historic_school_photo.jpg" alt="historic_school_photo" height="100%"
                            width="100%">
                    </div>
                </div>

                <div class="col-sm-5 col-lg-5">
                    <div class="historic_photo_tile_tab">
                        <h2 class="historic_photo_tile">Every institution has a</h2>
                        <h2 class="historic_photo_tile"> beginning.</h2>
                        <h2 class="historic_photo_tile">but only a few have a</h2>
                        <h2 class="historic_photo_tile">purpose</h2>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid mt-5">
            <div class="row">
                <div class="col-sm-6 col-lg-6 d-flex justify-content-center">
                    <div class="old_new_text_container">
                        <div class="old_new_text_innercontainer">
                            <p class="old_new_text text-danger pt-2">Our school was founded with a simple yet powerful
                                belief — education should nurture character as much as it builds knowledge. What began
                                as a modest initiative has today grown into a vibrant learning community where students
                                are encouraged to think, explore, and grow with confidence.</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6 col-lg-6 d-flex justify-content-center">
                    <div class="old_new_img">
                        <img src="/Img/oldschool-newschool.jpg" alt="old-new-photo" height="90%" width="90%"
                            style="border-radius: 25px;border: 5px solid black;">
                    </div>
                </div>

            </div>
        </div>


        <div class="container-fluid" style="margin-top: 150px;">
            <div class="row">
                <div class="col-sm-4 col-lg-4 d-flex justify-content-center">
                    <div class="card" style="width: 25rem;">
                        <img src="/Img/about_school_sports.jpeg" class="card-img-top" alt="..." height="100%"
                            width="100%">
                        <div class="card-body">
                            <p class="card-text">We believe physical fitness is as important as academics. Our students
                                actively participate in sports activities that help build strength, discipline,
                                teamwork, and confidence.</p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-4 col-lg-4 d-flex justify-content-center">
                    <div class="card" style="width: 25rem;">
                        <img src="/Img/about_culture.jpg" class="card-img-top" alt="..." height="100%" width="100%">
                        <div class="card-body">
                            <p class="card-text">Creativity helps students express themselves and grow with confidence.
                                We encourage participation in cultural programs that nurture talent and stage
                                confidence.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 col-lg-4 d-flex justify-content-center">
                    <div class="card" style="width: 25rem;">
                        <img src="/Img/about_coding.jpg" class="card-img-top" alt="..." height="100%" width="100%">
                        <div class="card-body">
                            <p class="card-text">To prepare students for the future, we focus on practical skills
                                alongside academics. Early exposure to technology helps students think logically and
                                creatively.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="container-fluid" style="margin-top: 150px;">
            <div class="row">
                <div class="col-sm-6 col-lg-6 counter_tab">
                    <div class="cy120">
                        <h2 class="y120">120+</h2>
                        <p class="y120_text">Years of Excellence</p>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-6 counter_tab">
                    <div class="cy500">
                        <h2 class="y500">500+</h2>
                        <p class="y500_text">Happy Students</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid" style="margin-top: 150px;">
            <div class="row">
                <div class="col-sm-6 col-lg-6 counter_tab">
                    <div class="cy30">
                        <h2 class="y30">30+</h2>
                        <p class="y30_text">Qualified Teachers</p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-6 counter_tab">
                    <div class="cy20">
                        <h2 class="y20">20+</h2>
                        <p class="y20_text">Activities & Programs</p>
                    </div>
                </div>
            </div>
        </div>



        <div class="container-fluid" style="margin-top: 200px;">
            <div class="row">

                <div class="col-sm-12 col-lg-4 testimonial_card">
                    <div class="card" style="width: 25rem;">
                        <img src="/Img/testmonial_family1.jpg" class="card-img-top" alt="..." height="100%"
                            width="100%">
                        <div class="card-body">
                            <h5 class="card-title">Teachers truly care about students</h5>
                            <p class="card-text">The teachers give individual attention and regularly update parents
                                about progress. I’ve seen a positive change in my child’s discipline and communication
                                skills.</p>
                            <p><b>— Mrs. Neha Gupta, Parent</b></p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-lg-4 testimonial_card">
                    <div class="card" style="width: 25rem;">
                        <img src="/Img/testmonial_family2.jpg" class="card-img-top" alt="..." height="100%"
                            width="100%">
                        <div class="card-body">
                            <h5 class="card-title">A nurturing and safe environment</h5>
                            <p class="card-text">The school provides a warm and secure atmosphere where my child feels
                                confident and happy. The teachers are caring and always supportive of students’ growth.
                            </p>
                            <p><b>— Mrs. Ritu Sharma, Parent</b></p>
                        </div>
                    </div>
                </div>


                <div class="col-sm-12 col-lg-4 testimonial_card">
                    <div class="card" style="width: 25rem;">
                        <img src="/Img/testmonial_family3.jpg" class="card-img-top" alt="..." height="100%"
                            width="100%">
                        <div class="card-body">
                            <h5 class="card-title">Excellent balance of academics and activities</h5>
                            <p class="card-text">What I appreciate most is the school’s focus on both studies and
                                extracurricular activities. My child has become more confident and enthusiastic about
                                learning.</p>
                            <p><b>— Mr. Aman Verma, Parent</b></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>














        <div class="mt-5">
            <%-include("Commons/Footer/user_footer.ejs")%>
        </div>

        <%-include("Commons/CDN/script.ejs")%>
</body>

</html>