<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/academic.css">
    <link rel="stylesheet" type="text/css" href="/engine2/style.css" />
    <script type="text/javascript" src="/engine2/jquery.js"></script>
    <%-include("Commons/Title/title.ejs")%>
        <%-include("Commons/CDN/style.ejs")%>
</head>

<body>
    <%-include("Commons/Header/User_header.ejs")%>


        <div class="container-fuild mt-5">
            <div class="quote_tab">
                <h2 class="quote">The roots of education are bitter,</h2>
                <h2 class="quote">but the fruit is sweet</h2>
                <h5 class="quote_sayer">-Aristotle</h5>
            </div>
        </div>


        <%-include("Commons/Gallery/achievements.ejs")%>

            <div class="pathway_title_tab">
                <h2 class="pathway_title">Structured Learning Pathways</h2>
            </div>
            <div class="container-fulid mt-5 w-100 d-flex justify-content-center">
                <div class="primary_school_container">
                    <div class="main_tile_tab">
                        <h2 class="main_title">Primary School</h2>
                    </div>

                    <div class="item_container">
                        <div class="item_box">
                            <h3 class="sub-heading">Subjects</h3>
                            <ul class="lists">
                                <li>English</li>
                                <li>Mathematics</li>
                                <li>EVS</li>
                                <li>Art & Craft</li>
                                <li>Music & Dance</li>
                                <li>Physical Education</li>
                            </ul>
                        </div>

                        <div class="item_box">
                            <h3 class="sub-heading">Teaching Approach</h3>
                            <ul class="lists">
                                <li>Activity-based learning</li>
                                <li>Storytelling & role play</li>
                                <li>Interactive classrooms</li>
                                <li>Value-based education</li>
                                <li>Continuous assessment</li>
                            </ul>
                        </div>

                        <div class="item_box">
                            <h3 class="sub-heading">Learning Outcomes</h3>
                            <ul class="lists">
                                <li>Strong reading & numeracy skills</li>
                                <li>Curiosity & creativity</li>
                                <li>Confidence & communication</li>
                                <li>Social & moral values</li>
                            </ul>
                        </div>
                    </div>


                </div>
            </div>


            <div class="container-fulid mt-5 w-100 d-flex justify-content-center">
                <div class="middle_school_container">
                    <div class="main_tile_tab">
                        <h2 class="main_title">Middle School</h2>
                    </div>

                    <div class="item_container">

                        <div class="item_box">
                            <h3 class="sub-heading">Subjects</h3>
                            <ul class="lists">
                                <li>English & Literature</li>
                                <li>Mathematics</li>
                                <li>Science (Phy, Chem, Bio)</li>
                                <li>Social Science</li>
                                <li>Computer Science</li>
                                <li>Physical Education</li>
                            </ul>
                        </div>

                        <div class="item_box">
                            <h3 class="sub-heading">Teaching Approach</h3>
                            <ul class="lists">
                                <li>Concept-based learning</li>
                                <li>Practical explanations</li>
                                <li>Projects & assignments</li>
                                <li>Group discussions</li>
                                <li>Regular assessments</li>
                            </ul>
                        </div>

                        <div class="item_box">
                            <h3 class="sub-heading">Learning Outcomes</h3>
                            <ul class="lists">
                                <li>Strong subject foundation</li>
                                <li>Logical thinking skills</li>
                                <li>Clear communication</li>
                                <li>Academic confidence</li>
                                <li>Independent learning</li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>


            <div class="container-fulid mt-5 w-100 d-flex justify-content-center">
                <div class="high_school_container">
                    <div class="main_tile_tab">
                        <h2 class="main_title">Secondary School</h2>
                    </div>

                    <div class="item_container">

                        <div class="item_box">
                            <h3 class="sub-heading">Subjects</h3>
                            <ul class="lists">
                                <li>English</li>
                                <li>Mathematics</li>
                                <li>Science (Physics,Chemistry,Bio)</li>
                                <li>Social Science</li>
                                <li>Information Technology</li>
                            </ul>
                        </div>

                        <div class="item_box">
                            <h3 class="sub-heading">Teaching Approach</h3>
                            <ul class="lists">
                                <li>Concept-focused teaching</li>
                                <li>Board-oriented preparation</li>
                                <li>Regular tests & revisions</li>
                                <li>Doubt-clearing sessions</li>
                                <li>Practical & lab work</li>
                            </ul>
                        </div>

                        <div class="item_box">
                            <h3 class="sub-heading">Learning Outcomes</h3>
                            <ul class="lists">
                                <li>Strong exam readiness</li>
                                <li>Clear subject concepts</li>
                                <li>Improved problem solving</li>
                                <li>Time management skills</li>
                                <li>Academic confidence</li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>

            <div class="container-fulid mt-5 w-100 d-flex justify-content-center">
                <div class="secondary_school_container">
                    <div class="main_tile_tab">
                        <h2 class="main_title">Senior-Secondary School</h2>
                    </div>

                    <div class="item_container">

                        <div class="item_box">
                            <h3 class="sub-heading">Streams Offered</h3>
                            <ul class="lists">
                                <li>Science (PCM / PCB)</li>
                                <li>Commerce</li>
                                <li>Humanities</li>
                                <li>Computer Science</li>
                                <li>Physical Education</li>
                            </ul>
                        </div>

                        <div class="item_box">
                            <h3 class="sub-heading">Teaching Approach</h3>
                            <ul class="lists">
                                <li>Concept-driven teaching</li>
                                <li>Board-focused preparation</li>
                                <li>Regular tests & analysis</li>
                                <li>Doubt-solving sessions</li>
                                <li>Practical & project work</li>
                            </ul>
                        </div>

                        <div class="item_box">
                            <h3 class="sub-heading">Learning Outcomes</h3>
                            <ul class="lists">
                                <li>Strong board performance</li>
                                <li>Exam-ready mindset</li>
                                <li>Career clarity</li>
                                <li>Independent study habits</li>
                                <li>Confidence for higher studies</li>
                            </ul>
                        </div>

                    </div>

                </div>
            </div>


            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-sm-6 col-lg-6">
                        <div class="smart_class_content_tab">
                            <h3 class="smartclass_title">Smart Classrooms</h3>
                            <ul class="smartclass_list mt-4">
                                <li>Interactive smart boards for visual learning</li>
                                <li>Audio-visual explanations for complex topics</li>
                                <li>Digital content to support classroom teaching</li>
                                <li>Real-time interaction between teachers and students</li>
                                <li>Better focus, clarity, and participation</li>
                                <li>Clear visual explanation of concepts</li>
                                <li>Engaging multimedia learning</li>
                                <li>Inclusive learning for all students</li>
                                <li>Active classroom participation</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-6 d-flex justify-content-center">
                        <img src="/Img/smart_classroom.webp" alt="smart_classroom" height="450px" width="75%"
                            class="smart_classroom_img">
                    </div>
                </div>
            </div>


            <div class="container-fluid mt-5">
                <div class="row">
                    <div class="col-sm-4 col-lg-4 d-flex justify-content-center">
                        <img src="/Img/academic_photo.jpg" alt="academic_photo" class="sports_img"">
                    </div>

                    <div class=" col-sm-8 col-lg-8 d-flex justify-content-center mt-5">
                        <div class="sport_content_tab">
                            <h2 class="sport_title">We care about health, discipline, and overall growth — not just
                                marks</h2>
                            <p class="sport_content mt-5">Physical education plays an important role in a student’s
                                overall development.
                                Regular sports activities help students stay active, build discipline, and
                                develop teamwork and leadership qualities. Through structured games and
                                physical training, students learn the importance of fitness, focus, and a
                                healthy lifestyle.</p>
                            <p class="sport_content mt-4">Sports at our school focus on building strength, discipline,
                                and teamwork.
                                Regular physical activities help students stay active, confident, and focused,
                                supporting both physical health and mental well-being.</p>
                            <p class="sport_content mt-4">We believe a healthy body supports a healthy mind.
                                Through regular sports and physical activities, students develop fitness,
                                self-discipline, and teamwork while learning the value of an active and
                                balanced lifestyle.</p>


                        </div>
                    </div>


                </div>
            </div>








            <%-include("Commons/Footer/user_footer.ejs")%>
            <%-include("Commons/CDN/script.ejs")%>
</body>

</html>