<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/engine1/style.css" />
    <script type="text/javascript" src="/engine1/jquery.js"></script>
    <%-include("Commons/Title/title.ejs")%>
        <%-include("Commons/CDN/style.ejs")%>
</head>

<body>
    <%-include("Commons/Header/User_header.ejs")%>
        <%-include("Commons/Gallery/slider.ejs")%>


            <div class="container-fluid pt-4">
                <div class="d-flex justify-content-center">
                    <h2 class="text-danger" style="font-size:70px;font-family: fantasy;">Why Choose Us?</h2>
                </div>

                <div class="row pt-5">

                    <div class="col-md-4 col-lg-4 d-flex justify-content-center">
                        <div class="card">
                            <img src="/Img/infra.jpeg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Modern & Safe Campus</h5>
                                <p class="card-text">
                                    A well-designed campus with modern classrooms, laboratories, library, and safe
                                    learning spaces.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex justify-content-center">
                        <div class="card">
                            <img src="/Img/classroom.jpeg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Student-Centered Learning</h5>
                                <p class="card-text">
                                    Interactive learning, creativity, and critical thinking beyond memorization.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex justify-content-center">
                        <div class="card">
                            <img src="/Img/alu.jpeg" class="card-img-top" alt="">
                            <div class="card-body">
                                <h5 class="card-title">Dedicated Faculty</h5>
                                <p class="card-text">
                                    Experienced teachers who mentor, guide, and inspire students.
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="container-fluid pt-5">
                <div class="row">
                    <div class="col-md-4 col-lg-4 d-flex justify-content-center">
                        <div class="card">
                            <img src="/Img/ground.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Student Growth & Activities </h5>
                                <p class="card-text">Beyond academics, we encourage sports, arts, cultural programs, and
                                    leadership activities to build confidence, teamwork, and life skills in every
                                    student.</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-lg-4 d-flex justify-content-center">
                        <div class="card">
                            <img src="/Img/dis (1).jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Discipline, Safety & Values</h5>
                                <p class="card-text">We focus on discipline, respect, and ethical values in a safe and
                                    caring environment, shaping responsible citizens of tomorrow.</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-4 col-lg-4 d-flex justify-content-center">
                        <div class="card">
                            <img src="/Img/meeting.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Parent–Teacher Partnership</h5>
                                <p class="card-text">Regular communication and collaboration between parents and
                                    teachers for continuous student progress.</p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>



            <div class="container-fluid principal_div">

                <center>
                    <h2 class="principal_title" style="color: #213448;">Our Principal's Vision</h2>
                </center>

                <div class="row pt-5">
                    <div class="col-md-6 col-lg-6 d-flex justify-content-center">
                        <img src="/Img/principal.jpg" alt="principal_picture" width="700px" height="750px"
                            style="border-radius: 25px;">
                    </div>


                    <div class="col-md-6 col-lg-6 principal_vision_block ">
                        <div class="vision_box">
                            <div class="vision_container_text">
                                <p class="vision_text">At our school, we believe that education is not merely the
                                    pursuit of academic excellence, but a lifelong journey of personal growth, character
                                    building, and discovery. Our vision is to create a nurturing and inclusive learning
                                    environment where every student feels valued, respected, and inspired to reach their
                                    full potential. We are committed to fostering curiosity, creativity, and critical
                                    thinking while maintaining a strong foundation in discipline, ethics, and
                                    responsibility.</p>
                                <p class="vision_text">Through dedicated teaching, modern educational practices, and
                                    meaningful student engagement, we aim to empower learners to become confident
                                    individuals, compassionate citizens, and independent thinkers. We strive to prepare
                                    our students not only for examinations, but for life—equipping them with the skills,
                                    values, and resilience required to face future challenges with confidence,
                                    integrity, and purpose.Our goal is to empower students to think independently, act
                                    responsibly, and contribute positively to society</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- <div class="container-fluid" style="padding-top: 100px;">
                <div class="d-flex justify-content-center">
                    <h2 class="activity_title">Life at Our School</h2>
                </div>

                <div class="slider2" style="background-color: blue;height: 780px;width: 100%;padding-top: 25px;"></div>

            </div> -->


            <div class="container-fluid" style="margin-top: 100px;">
                <div class="row">


                    <div class="col-sm-4 col-lg-4 connection_tab">
                        <div class="con_title">
                            <h2 class="con_title_text">Let's</h2>
                            <h2 class="con_title_text">Connect</h2>
                        </div>

                        <div class="con_content_tab">
                            <ul style="display: flex;justify-content: start;gap: 4rem;flex-direction: column;">
                                <li class="con_content">Concept-based learning, not rote memorization</li>
                                <li class="con_content">Focus on thinking skills and real-world problem solving</li>
                                <li class="con_content">Low student-teacher ratio for personal attention</li>
                                <li class="con_content">Hands-on learning through labs, projects, and activities</li>
                                <li class="con_content">Equal importance to academics, values, and discipline</li>
                            </ul>
                        </div>
                    </div>





                    <div class="col-sm-2 col-lg-2">
                        <div class="adm_img">
                            <img src="/Img/admission_form_image.png" alt="adm_Img" height="700px" class="adm_img">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-6 d-flex justify-content-center">
                        <div class="admission_tab">

                            <div class="nav nav-tabs admission_form_btn_tab" id="nav-tab" role="tablist">
                                <button class="nav-link active admission_form_btn" id="nav-home-tab"
                                    data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab"
                                    aria-controls="nav-home" aria-selected="true">National Student</button>
                                <button class="nav-link admission_form_btn" id="nav-profile-tab" data-bs-toggle="tab"
                                    data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                                    aria-selected="false">International Stundent</button>
                            </div>

                            <div class="tab-content" id="nav-tabContent">


                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                                    aria-labelledby="nav-home-tab" tabindex="0">


                                    <form action="/national_form" method="post">
                                        <div class="national_form">
                                            <div class="National_forms_labels">
                                                <label for="name" class="national_label">Name</label>
                                                <label for="email" class="national_label">Email <Address></Address>
                                                </label>
                                                <label for="number" class="national_label">Phone Number</label>
                                                <label for="class_apply" class="national_label">Class Applying
                                                    For</label>
                                                <label for="parent_number" class="national_label">Parent's Phone
                                                    Number</label>
                                            </div>

                                            <div class="national_forms_input">
                                                <input type="text" name="name" id="name" class="input_bars">
                                                <input type="email" name="email" id="email" class="input_bars">
                                                <input type="text" name="number" id="number" class="input_bars">
                                                <select name="class_apply" id="class_apply" class="input_bars"
                                                    style="font-size: large;">
                                                    <option value="" selected disabled>Choose Your Class</option>
                                                    <option value="1">1st</option>
                                                    <option value="2">2nd</option>
                                                    <option value="3">3rd</option>
                                                    <option value="4">4th</option>
                                                    <option value="5">5th</option>
                                                    <option value="6">6th</option>
                                                    <option value="7">7th</option>
                                                    <option value="8">8th</option>
                                                    <option value="9">9th</option>
                                                    <option value="10">10th</option>
                                                    <option value="11a">11-Arts</option>
                                                    <option value="11c">11-Commerce</option>
                                                    <option value="11n">11-Non-Med</option>
                                                    <option value="11m">11-Med</option>
                                                    <option value="12a">12-Arts</option>
                                                    <option value="12c">12-Commerce</option>
                                                    <option value="12n">12-Non-Med</option>
                                                    <option value="12m">12-Med</option>
                                                </select>
                                                <input type="text" name="parent_number" id="parent_number"
                                                    class="input_bars">
                                            </div>




                                        </div>

                                        <div class="adm_submit_div_btn">
                                            <button type="submit" class="adm_submit_btn">Submit</button>
                                        </div>
                                    </form>

                                </div>





                                <div class="tab-pane fade" id="nav-profile" role="tabpanel"
                                    aria-labelledby="nav-profile-tab" tabindex="0">


                                    <form action="/international_form" method="post">
                                        <div class="international_form">
                                            <div class="interNational_forms_labels">
                                                <label for="name" class="national_label">Name</label>
                                                <label for="email" class="national_label">Email <Address></Address>
                                                </label>
                                                <label for="birth_place" class="international_label">Birth Place</label>
                                                <label for="class_apply" class="international_label">Class Applying
                                                    For</label>
                                                <label for="parent_email" class="international_label">Parent's
                                                    Email</label>
                                            </div>

                                            <div class="international_forms_input">
                                                <input type="text" name="name" id="name" class="input_bars">
                                                <input type="email" name="email" id="email" class="input_bars">
                                                <input type="text" name="birth_place" id="birth_place"
                                                    class="input_bars">
                                                <select name="class_apply" id="class_apply" class="input_bars"
                                                    style="font-size: large;">
                                                    <option value="" selected disabled>Choose Your Class</option>
                                                    <option value="1">1st</option>
                                                    <option value="2">2nd</option>
                                                    <option value="3">3rd</option>
                                                    <option value="4">4th</option>
                                                    <option value="5">5th</option>
                                                    <option value="6">6th</option>
                                                    <option value="7">7th</option>
                                                    <option value="8">8th</option>
                                                    <option value="9">9th</option>
                                                    <option value="10">10th</option>
                                                    <option value="11a">11-Arts</option>
                                                    <option value="11c">11-Commerce</option>
                                                    <option value="11n">11-Non-Med</option>
                                                    <option value="11m">11-Med</option>
                                                    <option value="12a">12-Arts</option>
                                                    <option value="12c">12-Commerce</option>
                                                    <option value="12n">12-Non-Med</option>
                                                    <option value="12m">12-Med</option>
                                                </select>
                                                <input type="email" name="parent_email" id="parent_email"
                                                    class="input_bars">
                                            </div>




                                        </div>

                                        <div class="adm_submit_div_btn">
                                            <button type="submit" class="adm_submit_btn">Submit</button>
                                        </div>
                                    </form>




                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div style="height: 100px;"></div>

            <%-include("Commons/Footer/user_footer.ejs")%>
                <%-include("Commons/CDN/script.ejs")%>
</body>

</html>