<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/changepassword.css">
    <%-include("../Commons/Title/title.ejs")%>
        <%-include("../Commons/CDN/style.ejs")%>
</head>

<body>
    <%-include("../Commons/Header/student_dashboard.ejs")%>

        <div class="changeP_container">
            <div class="main_heading">
                <h2 class="heading">Change Your Password</h2>
            </div>

            <div class="form_tab">
                <form action="/changepassw" method="post" class="form" id="changepassw">
                    <div class="labels_tab">
                        <label for="oldpassword" class="labels">Old Password</label>
                        <label for="newpassword" class="labels">New Password</label>
                        <label for="confirmpassword" class="labels">confirm Password</label>
                    </div>

                    <div class="inputs_tab">
                        <input type="text" class="inputs" name="oldpassword" id="oldpassword" required>
                        <input type="text" class="inputs" name="newpassword" id="newpassword" required>
                        <input type="text" class="inputs" name="confirmpassword" id="confirmpassword" required>
                    </div>

                </form>

                <div class="sub_btn">
                    <button class="btnn" type="submit" form="changepassw">Submit</button>
                </div>

                <%if(locals.msg){%>
                <div class="erro">
                    <h2><%=msg%></h2>
                </div>
                <%}%>

            </div>
            <img src="/Img/changepassword.png" alt="image" class="woman_img">
        </div>


        <%if(locals.err){%>
            <script>
                alert("<%=err%>")
            </script>
            <%}%>

        <%-include("../Commons/CDN/script.ejs")%>
</body>

</html>