<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/CSS/principal_thought.css">
    <%-include("../Commons/Title/title.ejs")%>
        <%-include("../Commons/CDN/style.ejs")%>
</head>

<body>
    <%-include("../Commons/Header/adminDashboard.ejs")%>

        <div class="parent_tab">


            <div class="pricinpal_thought">
                <h2 class="thought_title">
                    Thought Of The Day
                </h2>
                <%if(locals.thought){%>
                    <p class="thougth">
                        <%=thought.thought%>
                    </p>
                    <%}%>
            </div>

            <div class="notice_tab">
                <h2 class="notice_title">
                    Notice
                </h2>

                <div class="noticeTable">
                    <table class="table">
                        <% if(locals.result){ %>
                            <% for(let i=0; i < result.length; i++){ %>
                                <tr>
                                    <td>
                                        <%= result[i].body %>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>

                    </table>
                </div>

            </div>


        </div>

        <%if(locals.err){%>
            <script>
                alert("<%=err%>");
            </script>
            <%}%>


                <%-include("../Commons/CDN/script.ejs")%>
</body>

</html>